.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 24px;
  cursor: pointer;
  padding: 16px 24px;
  font-size: 18px;
}

.btn-orange {
  background-color: #f19236;
  color: #ffffff;
  border: none;
}

.btn-green {
  background-color: #1cb954;
  color: #ffffff;
  border: none;
}
